<nav class="nav-extended">
  <div class="nav-wrapper">
    <div class="row">
      <div class="col">
        <a href="/" class="brand-logo">Node-Tutorial</a>
      </div>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/technologies">Technologies</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
  <div class="nav-content">
    <div class="row">
      <form action="/site_search" method="post" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">search</i>
            <input id="searchterm" name="searchterm" type="search">
            <i class="material-icons">close</i>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>