<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col">
        <a href="/" class="brand-logo">Node-Tutorial</a>
      </div>
      <ul id="nav-mobile" class="right">
        <li><a href="/">Home</a></li>
        <li><a href="/technologies">Technologies</a></li>
        <li><a href="/profiles">Profiles</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </div>
  </div>
</nav>