<div class="col s3">
  <div class="card">
    <div class="card-image">
      <img src="{{image}}" alt="node.js">
      <span class="card-title black-text">{{name}}</span>
    </div>
    <div class="card-content teal lighten-3">
      <p>{{description}}</p>
    </div>
  </div>
</div>