<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  {{!-- Materialize CSS --}}
  <link rel="stylesheet" href="/css/materialize.min.css">

  {{!-- Material Icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- JQuery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body class="brown lighten-5">
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col">
          <a href="/" class="brand-logo">Node-Tutorial</a>
        </div>
        <ul id="nav-mobile" class="right">
          <li><a href="/">Home</a></li>
          <li><a href="/technologies">Technologies</a></li>
          <li><a href="/profiles">Profiles</a></li>
          <li><a href="/about">About</a></li>
        </ul>

      </div>
    </div>
  </nav>

  {{{ body }}}

  <script src="/js/materialize.min.js"></script>
</body>

</html>