<div class="row">
  <div class="col">
    <h1>This is the Home page.</h1>
  </div>
</div>

<div class="row">
  <div class="col s12 m6 offset-m3 l4 offset-l4">
    <div class="card">
      <div class="card-content">
        <form action="/" method="post">
          <div class="row">
            <div class="input-field col s11">
              <i class="material-icons prefix">account_circle</i>
              <input id="txtUsername" name="txtUsername" type="text">
              <label for="txtUsername">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s11">
              <i class="material-icons prefix">lock_outline</i>
              <input id="txtPassword" name="txtPassword" type="password">
              <label for="txtPassword">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="center-align">
              <button class="btn btn-large waves-effect waves-light" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    M.updateTextFields();
  });
</script>